.calculator {
    border: solid black;
    border-radius: 5px;
    padding: 10px;
    height: 450px;
    width: 400px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: gray;
}

.display-box {
    border: solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
    height: 75%;
    width: 97%;
    font-size: large;
    font-weight: bold;
}

.button {
    border: solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: large;
    width: 100%;
    height: 75%;
}

.button:active {
    color: red;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}